body {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #b03738,
    #832a33,
    #581f29,
    #2e141a,
    #000001
  );
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  margin: 7%;
  color: #fef3bf;
}

.container {
  display: block;
  width: 51%;
  margin: auto;
}

.btn {
  margin: 26px;
  display: inline-block;
  height: 201px;
  width: 201px;
  border: 9px solid black;
  border-radius: 21%;
}

.game-over {
  background-color: red;
  opacity: 0.9;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 21px white;
  background-color: grey;
}
